<a href="https://colab.research.google.com/github/bhuwanthada/Python_assignment_01/blob/master/Python_assignment_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
1.Write a program which will find all such numbers which are divisible by 7 but are not a
multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed
in a comma-separated sequence on a single line.

In [1]:
def main():

    for i in range(2000,3001):
        if (i%7 == 0) and (i%5 != 0):
            print(i,",",end='')

main()

2002 ,2009 ,2016 ,2023 ,2037 ,2044 ,2051 ,2058 ,2072 ,2079 ,2086 ,2093 ,2107 ,2114 ,2121 ,2128 ,2142 ,2149 ,2156 ,2163 ,2177 ,2184 ,2191 ,2198 ,2212 ,2219 ,2226 ,2233 ,2247 ,2254 ,2261 ,2268 ,2282 ,2289 ,2296 ,2303 ,2317 ,2324 ,2331 ,2338 ,2352 ,2359 ,2366 ,2373 ,2387 ,2394 ,2401 ,2408 ,2422 ,2429 ,2436 ,2443 ,2457 ,2464 ,2471 ,2478 ,2492 ,2499 ,2506 ,2513 ,2527 ,2534 ,2541 ,2548 ,2562 ,2569 ,2576 ,2583 ,2597 ,2604 ,2611 ,2618 ,2632 ,2639 ,2646 ,2653 ,2667 ,2674 ,2681 ,2688 ,2702 ,2709 ,2716 ,2723 ,2737 ,2744 ,2751 ,2758 ,2772 ,2779 ,2786 ,2793 ,2807 ,2814 ,2821 ,2828 ,2842 ,2849 ,2856 ,2863 ,2877 ,2884 ,2891 ,2898 ,2912 ,2919 ,2926 ,2933 ,2947 ,2954 ,2961 ,2968 ,2982 ,2989 ,2996 ,

2.Write a Python program to accept the user first and last name and then getting them
printed in the the reverse order with a space between first name and last name.

In [3]:
def main():
    first_name = input("Enter the first name: ")
    last_name  = input("Enter the last name: ")
    first_name = list(first_name)
    last_name = list(last_name)
    rev_f_name = first_name[::-1]
    rev_f_name = ''.join(rev_f_name)
    rev_l_name = last_name[::-1]
    rev_l_name = ''.join(rev_l_name)
    first_name = ''.join(first_name)
    last_name = ''.join(last_name)
    print("Original name:",first_name,last_name)
    print("rev_name:",rev_f_name,rev_l_name)

main()

Enter the first name: Bhuwan
Enter the last name: Thada
Original name: Bhuwan Thada
rev_name: nawuhB adahT

3.Write a Python program to find the volume of a sphere with diameter 12 cm.
Formula: V=4/3 * Ï€ * r 3

In [4]:
def main():
    dia = 12
    volume = ((4/3)*(22/7)*((dia/2)**3))
    print("volume:",volume)
    
main()

volume: 905.142857142857